extends layout

block content
  h1= title
  p Welcome to #{title}
  button#connect OAuth Connect Now
  script.   
    var connectNow = function(){
      console.log('connecting...');
      $.ajax({
        type: 'GET',
        url: '/oauth',
        success: function(data){
          console.log(data);
          window.location.href = data.url;
        }
      });
    };
    $('button[id=connect]').click(connectNow);
